@import '../../styles/theme.css';

.buttonBase {
  text-transform: none !important;
  font-family: var(--logo-font-family) !important;
  font-size: 16px;
  font-weight: bold !important;
  border-radius: 8px !important;
  padding: 8px 20px !important;
}

.filled {
  background-color: var(--sense-button-bg-color) !important;
  color: var(--sense-button-text-color) !important;
}

.filled:hover {
  background-color: var(--mui-grey-800) !important;
}

.text {
  background-color: transparent !important;
  color: var(--sense-text-button-color) !important;
}

.text:hover {
  color: var(--mui-grey-800) !important;
}
