@import '../../styles/theme.css';

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-height: calc(100vh - 100px);
    padding-top: 100px;
    background-color: var(--mui-background-paper);
    margin: 0;
}