.container {
  width: 100%;
  max-width: 800px;
  min-height: calc(100vh - 100px);
  padding: 20px;
  background-color: var(--mui-background-paper);
  justify-content: center;
}

.loaderWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 400px;
  gap: 16px;
}

.icon {
    color: var(--sense-button-bg-color) !important;
}