@import '../../styles/theme.css';

.sense-header {
  width: 100%;
  height: 100px;
  background-color: var(--mui-background-default);
  position: sticky;
  top: 0;
  z-index: 1000;
}

.sense-header-container {
  max-width: 1728px;
  margin: 0 auto;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 17px;
}

.sense-header-logo {
  display: flex;
  align-items: center;
  cursor: pointer;
  user-select: none;
}

.sense-header-actions {
  display: flex;
  align-items: center;
  gap: 24px;
}

@media (max-width: 768px) {
  .sense-header-logo h1 {
    font-size: 60px;
  }

  .sense-header-container {
    padding: 0 16px;
  }
}

@media (max-width: 480px) {

  .sense-header-logo h1 {
    font-size: 48px;
  }
}
