@import '../../styles/theme.css';

.footer {
  width: 100%;
  background-color: var(--sense-button-bg-color);
  color: var(--sense-button-text-color);
  padding: 2rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  text-align: center;
}

@media (min-width: 900px) {
  .footer {
    flex-direction: row;
    text-align: left;
  }
}

.footerTitle {
  font-weight: 700;
  font-size: 1.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

@media (max-width: 900px) {
  .footerTitle {
    padding-left: 0;
    padding-right: 0;
  }
}

.footerLinks {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

@media (min-width: 900px) {
  .footerLinks {
    flex-direction: row;
    align-items: center;
  }
}

.footerAvatars {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 1rem;
  padding-right: 1rem;
  gap: 0.5rem;
}

@media (min-width: 900px) {
  .footerAvatars {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

.avatarStack {
  min-width: 245px;
}

.footerCopyright {
  font-size: 0.875rem;
  opacity: 0.7;
}

.link {
  padding: 20px;
}

.logo {
  min-width: 230px;
  max-width: 230px;
}