.container {
  padding: 0 !important;
}

.feed {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center !important;
}

.icon, .text {
    color: var(--sense-button-bg-color) !important;
}