.tabs {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: calc(10% / 3);
  margin-bottom: 16px;
  width: 100%;
}

.tab {
  font-size: 16px;
  width: 30%;
  font-weight: 700;
  padding: 10px;
  color: var(--sense-text-color);
  background-color: #eee;
  border: none;
  border-radius: 7px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.active {
  background-color: var(--sense-creator-color);
}

.active.expert {
  background-color: var(--sense-expert-color);
}

.active.user {
  background-color: var(--sense-user-color);
}

.active.creator {
  background-color: var(--sense-creator-color);
}

.textField {
  background-color: var(--sense-color);
  color: var(--sense-button-bg-color);
  width: 100%;
}

@media (max-width: 600px) {
  .tabs {
    flex-direction: column;
    gap: 12px;
  }

  .tab {
    width: 100%;
  }
}