@import '../../styles/theme.css';

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: calc(100vh - 200px);
    background-color: var(--mui-background-paper);
    margin: 0;
}

.logo {
    max-width: 275px;
}

.logo {
    max-width: 275px;
    opacity: 0;
    transform: scale(0.85) translateY(-30px);
    transition: transform 1s ease, opacity 1s ease;
}

.loaded {
    opacity: 1;
    transform: scale(1) translateY(0);
}